body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: linear-gradient(135deg, #F7E8CE, #E3A2A9);
}

.card {
    position: absolute;
    width: 300px;
    height: 400px;
    background: #d47fa7;
    box-shadow:
        0 8px 10px rgba(0, 0, 0, 0.2),
        0 4px 15px rgba(212, 127, 167, 0.4),
        0 0 20px rgba(212, 127, 167, 0.7);
    border: 3px solid #FFE4D5;
    color: #FFE4D5;
    padding: 30px;
    text-align: center;
    border-radius: 16px;
    display: block;
    font-weight: bold;
    transition: transform 0.5s ease, opacity 0.5s ease;
}


@media (orientation: landscape) {
    .card {
        font-size: xx-large;
    }
}


@media (orientation: portrait) {
    .card {
        font-size: large;
    }
}


#cardHeader {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    margin-top: -20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#cardFooter {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    margin-top: -20px;
    text-transform: uppercase;
    bottom: 0px;
    position: absolute;
    text-align: center;
}

.cardContent {
    height: 100%;
    vertical-align: middle;
}

.gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    pointer-events: none;
    opacity: 0.5;
    transition: opacity 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-left {
    left: 0;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), transparent);
}

.gradient-right {
    right: 0;
    background: linear-gradient(to left, rgba(0, 255, 0, 0.5), transparent);
}

.gradient-text {
    font-size: 60px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.2s ease;
}

.gradient-right .gradient-text {
    transform: rotate(-90deg);
    position: fixed;
    width: 600px;
    top: 300px;

    text-align: right;
}

.gradient-left .gradient-text {
    transform: rotate(90deg);
    position: fixed;
    text-align: left;

    top: 300px;
    width: 600px;
}

#endbutton {
    position: fixed;
    bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    background: #d47fa7;
    font-size: x-large;
    color: #741f47;
    /* 
    border: 3px solid #FFE4D5;
    border-radius: 5px;
     box-shadow: 5px 5px 15px #000, -2px -2px 5px #fff inset;
    text-shadow: 2px 2px 3px #FFE4D5; 
    padding: 10px 20px;
    */
}

#endbutton:hover {
    background-color: #741f47;
    color: #d47fa7;
}

#endbutton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;
}


#scorebar {
    position: fixed;
    height: 125px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    z-index: 5;

    background-color: #0e0e10;

    border-top: 2px solid #34343B;

    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.8),
        0 -2px 8px rgba(52, 52, 59, 0.8),
        0 0 15px #ff8280;


    font-family: 'Courier New', Courier, monospace;
    color: #ff8280;
    font-size: x-large;
}

#scoreDiv {
    float: right;
}

#gamecount {
    float: left;
}


.rectangle {
    width: 200px;
    height: 50px;
    display: flex;
    border: 2px solid black;
    position: relative;
}

.cursor {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 2px;
    height: 70px;
    margin-top: -10px;
    background-color: black;
}