body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #F7E8CE, #E3A2A9);
    color: #00ffcc;
}

#scorebar {
    position: fixed;
    height: 75px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;

    background-color: #0e0e10;

    border-top: 2px solid #34343B;

    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.8),
        0 -2px 8px rgba(52, 52, 59, 0.8),
        0 0 15px #ff8280;


    font-family: 'Courier New', Courier, monospace;
    color: #ff8280;
    font-size: x-large;
}

#scoreDiv {
    float: right;
}

#gamecount {
    float: left;
}

#card {
    width: 300px;
    height: 200px;
    background-color: #333;
    border: 2px solid #00ffcc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 255, 204, 0.5);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
}

#buttons {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #00ffcc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000;
    color: #00ffcc;
    box-shadow: 0 4px 8px rgba(0, 255, 204, 0.5);
}

button:hover {
    background-color: #00ffcc;
    color: #000;
}

button:disabled {
    background-color: #444;
    color: #777;
    cursor: not-allowed;
    border-color: #555;
    box-shadow: none;
}