body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: linear-gradient(135deg, #F7E8CE, #E3A2A9);
}

.card {
    position: absolute;
    width: 300px;
    height: 400px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    pointer-events: none;
    opacity: 0.4;
    transition: opacity 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-left {
    left: 0;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), transparent);
}

.gradient-right {
    right: 0;
    background: linear-gradient(to left, rgba(0, 255, 0, 0.5), transparent);
}

.gradient-text {
    font-size: 60px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.2s ease;
}

.gradient-right .gradient-text {
    transform: rotate(-90deg);
    position: fixed;
    width: 600px;
    top: 300px;

    text-align: right;
}

.gradient-left .gradient-text {
    transform: rotate(90deg);
    position: fixed;
    text-align: left;

    top: 300px;
    width: 600px;
}

#scorebar {
    position: fixed;
    height: 75px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    z-index: 5;

    background-color: #0e0e10;

    border-top: 2px solid #34343B;

    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.8),
        0 -2px 8px rgba(52, 52, 59, 0.8),
        0 0 15px #ff8280;


    font-family: 'Courier New', Courier, monospace;
    color: #ff8280;
    font-size: x-large;
}

#scoreDiv {
    float: right;
}

#gamecount {
    float: left;
}